.heart{
    height: 40px;
    width: 40px;
}
.pica{
    float: left;
    height: 5%;
    width: 25%;
    margin-right: 30px;
    border-radius: 50%;
    border-color: brown;
}
.paraa{
    font-size: 29px;
}
.diva{
    width: 100%;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    margin-top: 100px;
}
.picb{
    height: 30%;
    width: 20%;
}